<%- include('partial/header'); %>
<%- include('widget/search',{type: "list"}); %>
<div class="contributors">
  <h1>list of Contributors</h1>
  <div>
    <!--AUTO_GENERATED_PLEASE_DONT_DELETE_IT-->
  <a href="https://github.com/jaywcjlove" title="小弟调调">
  <img src="https://avatars.githubusercontent.com/u/1680273?v=4" width="42;" alt="小弟调调"/>
  </a>
  <a href="https://github.com/ZhuangZhu-74" title="ZhuangZhu-74">
  <img src="https://avatars.githubusercontent.com/u/49544524?v=4" width="42;" alt="ZhuangZhu-74"/>
  </a>
  <a href="https://github.com/BourneLeeee" title="BourneLeeee">
    <img src="https://avatars.githubusercontent.com/u/101230626?v=4" width="42;" alt="BourneLeeee"/>
  </a>
  <a href=" https://github.com/uniluxs" title="uniluxs">
    <img src="https://avatars.githubusercontent.com/u/141646575?v=4" width="42;" alt="uniluxs"/>
  </a>
  <a href=" https://github.com/uniluxs" title="hougarry">
    <img src="https://avatars.githubusercontent.com/u/52512824?v=4" width="42;" alt="hougarry"/>
  </a>

  
 
<!--AUTO_GENERATED_PLEASE_DONT_DELETE_IT-END-->
  </div>
  <p>
    All of the data comes from <a href="https://github.com/hougarry/chatgpt-advanced-prompts/graphs/contributors">GitHub Contributors</a>，Using<a href="https://github.com/jaywcjlove/github-action-contributors">action-contributors</a>to create。
  </p>
</div>
<%- include('widget/footer',{type: "list"}); %>
<%- include('partial/footer'); %>