<!-- ChatGPT高级命令数据库：https://github.com/hougarry -->
<div class="footer <%if(type=='home'){%> home <%}%>">
    <a target="_blank" href="https://github.com/hougarry/chatgpt-advanced-prompts/new/master/command">Add_Prompt</a> |
    <a href="<%=relative_path%>hot.html">Prompts_List</a> |
    <br />
    <a href="https://github.com/hougarry/chatgpt-advanced-prompts" target="_blank">Star-Github</a> 
    <br />
    <br /> More than
    <span id="commands_info">
      <%=describe.command_length?describe.command_length:''%>
    </span> GPT-Advanced-Prompts，More than <a href="<%=relative_path%>contributors.html">5+</a> contributors
  </div>